.dict-wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 80vw;
}

.tab-header {
  font-size: 1.5em;
}

.Mui-word-card {
  margin-bottom: 10px;
}

.tab {
  background-color: #fffbf4;
  padding: 1.6rem 3.2rem 5.6rem;
}

@media (min-width: 375px) {
  .tab {
    width: 375px;
  }
}
