@import '../../styles/main.less';
@import '../../styles/variables.less';

.settingsModalWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 3.2rem 5.6rem;
    overflow: hidden;
    transition: 2s ease;
    &:before {
        content: '';
        position: absolute;
        top: 1rem;
        right: -10.5rem;
        width: 24rem;
        height: 24rem;
        background-image: url('../../public/images/popup/gear-big.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        transform: rotate(-13deg);
    }
    &:after {
        width: 15rem;
        height: 15rem;
        bottom: -2.5rem;
        left: -3rem;
        background-image: url('../../public/images/popup/gear-small.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        position: absolute;
        z-index: -1;
        transform: rotate(-58deg);
    }
    &:hover::before{
        transform: rotate(58deg);
    }

    & input {
        margin: auto 0;
    }
    & li {
        margin: .8rem 0 .8rem 1.8rem;
    }
    & li:first-of-type {
        margin-top: 1.1rem;
    }
    & li:last-of-type {
        margin-bottom: 1.8rem;
    }
    & .overlay {
        align-items: flex-start;
    }
    & .settingsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 31.1rem;
    }
    & .appSettingsWrapper {
        width: 100%;
    }
    & .cardSettingsWrapper {
        margin-top: 1.6rem;
        width: 100%;
    }
    & .separatingLine {
        margin: 0.8rem 0 0 1.9rem;
        width: 27.3rem;
        border-top: .1rem solid @color-text-add;
    }
}
