.tab3 {
    background-color: #FFFBF4;
}
.currentGame {
    // display: inline;
    width: 110px;
    margin: 0 auto;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #2C3E50;
}

.currentGameResult {
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 244px;
}


.currentGameResult p {
    width: 61px;
    height: 48px;
}

.currentGameResult p:nth-child(2) {
    font-family: Martel;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 61px;
    color: #055B67;
}

.currentGameResult p:nth-child(3) {
    font-family: Martel;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 61px;
    color: #F05D2F;
    font-size: 36px;
    line-height: 61px;
}

.currentGameResult p:first-child {
    text-align: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    width: 61px;
    margin-right: 12px;
}

.currentGameResult p:last-child {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    width: 15px;
    margin-left: 12px;
}

.correctCount {
    background: #38ada9;
    border-right: 1px solid black;

}

.mistakesCount {
    background: #FFE0CA;
}