.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  // background-image: url(../../public/images/speakit/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
