
.tab1 {
    background-color: #FFFBF4;
    // height: 600px;
    // background-image: url('../../../public/images/marginalia-done.png');
}

.studyTime {
    width: 150px;
    height: 30px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #2C3E50;
    width: 149px;
    margin: 0 auto;
}

.currentStrike {
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 244px;
}


.currentStrike p {
    width: 61px;
    height: 48px;
}

.currentStrike p:nth-child(2) {
    font-family: Martel;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 61px;
    color: #055B67;
}

.currentStrike p:nth-child(3) {
    font-family: Martel;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 61px;
    color: #1F658A;
    font-size: 36px;
    line-height: 61px;
}

.currentStrike p:first-child {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    width: 61px;
    margin-right: 12px;
}

.currentStrike p:last-child {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    width: 15px;
    margin-left: 12px;
}

.legend {
    position: absolute;
    top: 260px;
    left: 105px;
    font-family: Martel;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
}

.legend-newWords {
    color: #C00000;
}

.legend-winrate {
    color: #38ADA9;
}

.legend-totalCards {
    color: #1F658A;
}

.strike {
    background: rgba(56, 173, 169, 0.3);
    border-right: 1px solid black;

}

.wordsToRepeat {
    background: #D3E8ED;
}