// .tab2 {
//     background-color: #FFFBF4;
//     padding: 1.6rem 0 5.6rem;
// }
.learntWords {
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #2C3E50;
    margin-bottom: 1.2rem;
}

.learntWords span {
    font-family: 'Martel';
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 3rem;
}


.alpinist {
    margin: 0 auto;
    width: 255px;
    height: 250px;
    margin-bottom: 2.4rem;
}

.alpinist img {
    width: inherit;
}

.bar-wrapper {
    width: 311px;
    margin: 0 auto;
    // padding: 0 3.2rem;
}


// ------------------------------------------
