*{
   font-size: 10px !important;
}

.sprint{
   overflow: hidden;
   height: 100vh;
   width: 100%;
   margin: 0 auto;
   background-image: url(../../../public/images/sprint/fon.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   scroll-behavior: smooth;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}